<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
		<link rel="stylesheet" href="../Content/styles/final.css" />
</head>
<body>
		<div class="header">Header, checkng in.</div>
	@RenderBody()
		<div class="footer">Yup, we got a footer</div>
</body>
</html>
